body{
    height: 100%;
    background-color: #E6ECF0;
}

.wrapper{
    width:50%;
    height:800px;
    margin:0 auto;
    background-color: #ffffff;
}


.image-box>img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 50px;
}

.return-btn{
    border-radius: 30px;
    padding-left: 30px;
    font-size: 1.1rem;
    padding: 8px 0;
    width: 100px;
    border: 1px solid orange;
}

